.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-animation {
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  z-index: 10000;
  position: relative;
}

.card-animation img {
  transition: transform 0.3s ease;
}

.card-animation:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
}
